$color-text: #555;
$color-header: #2c3e50;
$color-primary: #2c3e50;
$color-contrast: #fff;
$color-cta: #3498db;
$color-background: #ecf0f1;
$color-light: #ecf0f1;
$color-content: #fff;
$color-border: #d5dadd;;
$size-radius: 5px;
$font-default: Helvetica, Arial, sans-serif;
